# ignore big data/artifacts
data/raw/**
data/clean/**
data/features/**
results/**

# allow DVC pointer files inside ignored dirs (if you ever write them there)
!data/raw/**/*.dvc
!data/clean/**/*.dvc
!data/features/**/*.dvc
!data/raw/**/*.zip
!data/clean/**/*.zip
!data/features/**/*.zip
# allow parent dirs so un-ignored files inside can be added
!data/
!data/raw/
!data/raw/**/
