# keep data out of Git
data/raw/**
data/clean/**
data/features/**

# BUT allow DVC pointer files inside those dirs
!data/raw/**/*.dvc
!data/clean/**/*.dvc
!data/features/**/*.dvc
!data/raw/**/*.zip
!data/clean/**/*.zip
!data/features/**/*.zip
!data/raw/**/.gitattributes
!data/clean/**/.gitattributes
!data/features/**/.gitattributes






